@import url(https://fonts.googleapis.com/css?family=Roboto:300);

$hundo: 100%;
$dark-grey-border: 1px solid rgba(99,99,99,0.3);
$light-grey-bg: rgba(243,245,246,0.7);
$link-active: rgba(100,165,201,1);
$link-inactive: rgba(100,165,201,.65);
$box-shadow-container: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
$box-shadow-input: 6px 5px 6px -5px rgba(0.5, 0.5, 0.5, .5);
$font: "Roboto", sans-serif;

#app-container {
  font-family: $font;
  z-index: 1;
  margin: 0 auto;
  padding: 20px;
  width: auto;
  height: $hundo;
  border: $dark-grey-border;
  background: $link-inactive;
}

fieldset {
  background: $light-grey-bg;
  box-shadow: $box-shadow-container;
  border: none;
  width: 85%;
  max-width: 85%;
  text-align: center;
  display: inline-block;
}

form {
  background: $light-grey-bg;
  box-shadow: $box-shadow-container;
  border: none;
  margin: 15%;
  padding: 15%;
  width: 50%;
  max-width:40%;
  input{
    margin: 5%;
    padding: 6%;
    width: 75%;
    border: 0;
    cursor: none;
    &:hover {
      -webkit-box-shadow: $box-shadow-input;
      -moz-box-shadow: $box-shadow-input;
      box-shadow: $box-shadow-input;
    };
    &:active {
      -webkit-box-shadow: $box-shadow-input;
      -moz-box-shadow: $box-shadow-input;
      box-shadow: $box-shadow-input;
    };
    &:focus {
      -webkit-box-shadow: $box-shadow-input;
      -moz-box-shadow: $box-shadow-input;
      box-shadow: $box-shadow-input;
    };
  }
  label{
    padding: 10px;
  }
  button {
    float: left;
    background: $link-inactive;
    opacity: 0.6;
    filter: alpha(opacity=60);
    margin: 7%;
    padding: 5%;
    width: 86.75%;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    &:hover {
      color: black;
      opacity: 1;
      filter: alpha(opacity=100)
    };
    &:active {
      color: black;
      opacity: 1;
      filter: alpha(opacity=100)
    };
    &:focus {
      color: black;
      opacity: 1;
      filter: alpha(opacity=100)
    };
  }
  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
    a {
      color: rgba(112,193,234,1);
      text-decoration: none;
      &:hover {
        color: $link-active;
      };
      &:active {
        color: $link-active;
      };
      &:focus {
        color: $link-active;
      };
    };
  };
};
