.progress-bar {
  height: 3px;
  width: 100%;
  margin: 0;
  background-color: #b3c3fc;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  &:before {
    height: 3px;
    width: 100%;
    margin: 0;
    background-color: #3f51b5;
    content: "";
    -webkit-animation: current-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    -moz-animation: current-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    -o-animation: current-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: current-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

@-webkit-keyframes current-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
@-moz-keyframes current-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
@-o-keyframes current-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
@keyframes current-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
